<!DOCTYPE html>
<html>
    <head>
        <title>Playwright Wrapper</title>
        <style>
            body{ font-family: Ariel; text-align: center; margin-top:100px}
            button {
                padding: 15x 25px;
                font-size: 16px;
                border-radius: 8px;
                border: none;
                background: black;
                color: white;
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <h2>Playwright Test Runner</h2>

        <form action="/run" method="post">
            <button type="submit">Run Tests</button>
        </form>

        <br><br>
        <a href="/reports">View Reports Folder</a>
    </body>
</html>